 body{
      margin: auto;
      background-color: #000000;
 }
 p{
   color: #ffffff;
 }
 ol{
    color: #ffffff;
 }
 div{
     color: #ffffff;
 }
figcaption{
           color: #ffffff;
 }
a{
  color: #ff748c;
 }
h1{
   font-size: 50pt;
 }